html,
body,
#root{

    width:100%;

    height:100%;

    margin:0;

    padding:0;

}

body{

    background:#F1F5F9;

    color:#1E293B;

    overflow-x:hidden;

}

::-webkit-scrollbar{

    width:8px;

}

::-webkit-scrollbar-thumb{

    background:#2563EB;

    border-radius:20px;

}

::-webkit-scrollbar-track{

    background:#E2E8F0;

}